
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn-add {
    width: 200px;
    background: #4A7DFF;
    padding: 10px 16px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
    border-color: #4A7DFF;
}

.btn-add:hover {
    cursor: pointer;
    background: #355FD6;
}

.table-wrapper {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}
.btn-delete {
    padding: 6px 10px;
    background: #d63031;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.btn-delete:hover {
    background: #c02627;
}
/* TABEL */
.modern-table {
    width: 100%;
    border-collapse: collapse;
}

.modern-table thead {
    background: #f5f6fa;
}

.modern-table th {
    padding: 12px;
    font-size: 14px;
    color: #555;
    border-bottom: 2px solid #e5e5e5;
    text-align: left;
}

.modern-table td {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    color: #333;
}
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
    z-index: 1000;
}

.modal-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

/* MODAL BOX */
.modal-box {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
    animation: pop 0.25s ease;
    text-align: center;
}

@keyframes pop {
    0% {
        transform: scale(.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.modal-box p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-cancel {
    padding: 10px 15px;
    width: 100%;
    background: #ccc;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-cancel:hover {
    background: #b3b3b3;
}

.btn-confirm {
    padding: 10px 15px;
    width: 100%;
    background: #e53935;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-confirm:hover {
    background: #c62828;
}

.btn-edit {
    padding: 6px 10px;
    background: #00b894;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    margin-right: 5px;
    border: none;
}

.btn-edit:hover {
    background: #009d80;
}
